{% extends "base.html" %}

{% block metatags %}
{% autoescape true %}

<!-- Primary Meta Tags -->
<meta name="title" content="{{ article.title }}">
<meta name="description" content="{{ article.summary | striptags }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://spacekookie.de">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:description" content="{{ article.summary | striptags }}">
<meta property="og:image" content="https://spacekookie.de/theme/img/card.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="https://spacekookie.de/theme/img/card.png">
<meta property="twitter:url" content="https://spacekookie.de">
<meta property="twitter:title" content="{{ article.title }}">
<meta property="twitter:description" content="{{ article.summary | striptags }}">

{% endautoescape %}
{% endblock metatags %}


{% block body %}
<div class="gay nav">
  {% include "components/title.html" %}
  {% include "components/links.html" %}
</div>

{% include "components/gay.html" %}

<div class="content">
  <h1>{{ article.title }}</h1>
  
  <div class="header no-side-padding-mobile">
    <hr/>
    <a href="{{ SITEURL }}/{{ article.category|lower }}"> ⇠ back</a>
    {% if article.tags|length > 0 %}
    <span> | tags:</span>
    {% for tag in article.tags|sort %}
    <span><strong>{{ tag }}</strong>{% if loop.index < article.tags|length %}, </span>{% endif %}
    {% endfor %}
    {% endif %}
    <span> | duration: <strong>{{article.read_time_string}}</strong></span>
    <hr/>
  </div>
  

  <div class="article no-side-padding-mobile">
    {{ article.content }}
  </div>
  
</div>
{% endblock %}
