<!-- <div class="article-title">
    <p>< Back</p>
</div> -->

{% if type == 'single' %}
<h3 class="card-header-url"><a href="{{ SITEURL }}/{{ article.category|lower }}"> ⇠ Back</a></h3>
{% else %}
<h2 class="card-header-url"><b><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></b></h2>
{% endif %}

<div class="article-meta">
    <p>
        {% if article.tags|length > 0 %}
            {% for tag in article.tags|sort %}
            <strong>{{ tag }} |</strong>
            {% endfor %}
            Tags
        {% endif %}
    </p>
    <p>Published <span class="tc-brown"><strong>{{ article.locale_date }}</strong></span></p>
    <p>This article takes <span class="tc-brown"><strong>{{article.read_time_string}}</strong></span> to read.</p>
</div>