{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ article.content|striptags|truncate(200)|escape }}{% endblock description %}
{% block keywords %}{% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block content %}
  <div class="col-lg-9 content">
      {{ article.content }}

      {% if article.related_posts %}
          <h4>Articles connexes</h4>
          <dl class="dl-horizontal">
          {% for related_post in article.related_posts %}
              <dt>{{ related_post.locale_date}}</dt>
              <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></dd>
          {% endfor %}
          </dl>
      {% endif %}

      <hr/>
  </div>
{% endblock %}
