<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block metatags %}{% endblock %}

    <title>{{ SITENAME }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Mastodon verification link #}
    <a rel="me" href="https://octodon.social/@spacekookie"></a>
    
    <link href="{{ SITEURL }}/theme/css/crumbs.css" rel="stylesheet">
    {% block css %}{% endblock %}
    
    <!-- TODO: remove  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">

    <!-- TODO: remove  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/rss.xml" title="{{ SITENAME }} — Latest Posts" />
  </head>

  <body>
    <div class="wrap">
      {# Wrappen body block #}
      {% block body %}{% endblock %}

      {# Footer only used on 'home' #}
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
