<link href="https://fonts.googleapis.com/css?family=Inconsolata|Quicksand:300,400|Roboto:300,400&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ SITEURL }}/theme/css/fonts.css" rel="stylesheet">
<link href="{{ SITEURL }}/theme/css/nest.css" rel="stylesheet">
<link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
<link href="{{ SITEURL }}/theme/css/home.css" rel="stylesheet">