<div class="gay">
    <div class="colour colour1"></div>
    <div class="colour colour2"></div>
    <div class="colour colour3"></div>
    <div class="colour colour4"></div>
    <div class="colour colour5"></div>
    <div class="colour colour6"></div>
    <div class="colour colour7"></div>
    <div class="colour colour8"></div>
    <div class="colour colour9"></div>
    <div class="colour colour10"></div>
    <div class="colour colour11"></div>
    <div class="colour colour12"></div>
    <div class="colour colour13"></div>
    <div class="colour colour14"></div>
    <div class="colour colour15"></div>
</div>
