<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ SITENAME }}</title>

    {% if type == 'home' %}
        <link href="{{ SITEURL }}/theme/css/crumbs.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/cr_title.css" rel="stylesheet"> {# This contains various overrides #}
    {% else %}
        <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/crumbs.css" rel="stylesheet">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600;subset=latin-ext" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/rss.xml" title="{{ SITENAME }} — Latest Posts" />
</head>
