<head>
    <meta charset="utf-8">
    <title>{{ SITENAME }}</title>

    {% if type == 'home' %}
        <link href="{{ SITEURL }}/theme/css/crumbs.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/cr_title.css" rel="stylesheet"> {# This contains various overrides #}
    {% else %}
        <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/crumbs.css" rel="stylesheet">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500;subset=cyrillic,latin-ext" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>