/* 

This file contains all definitions are are EXCLUSIVE for the title

*/

/* div.navigation {
    padding-top: 12px;
    padding-bottom: 75px;
    padding-right: 32px;
    height: 75px;
    line-height: 75px;
  } */
  

.title h1 {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
}

.navigation {
    border-bottom: 1px solid white;
}

/* For the title page we want other paragraph styles */
p {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
    text-indent: 0px;
  }


/* 
.span {
    display: inline-block;
} */

a, a:visited a:hover, a:active, a:link {
    color: #BEBEBE;
    text-decoration: none;
}

#twitter:hover {
    color: #6997c8;
    animation: .45s jump infinite linear;
}
#github:hover {
    color: #ef787b;
    animation: .45s jump infinite linear;
}
#keys:hover {
    color: #ca98c9;
    animation: .45s jump infinite linear;
}

#email:hover {
    color: #99cb9b;
}

div.icons {
    padding-top: 25px;
    padding-bottom: 25px;
}

.icons h1 {
    font-family: Inconsolata;
    font-size: 42px;
    line-height: 42px;
    font-style: normal;
    font-variant: normal;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-.075em);
  }
  80% {
    transform: translateY(.025em);
  }
  100% {
    transform: translateY(0);
  }
}
