/**************************************

   BASIC DEFINITIONS 

**************************************/



body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-variant: normal;
  /* font-size: 26px; */
  /* font-weight: 400; */
  color: #BEBEBE;
  background-color: #222222;
  background-image: none;
  line-height: 32px;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
}

p {
  font-size: 22px;
  font-weight: 300;
}
